@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$firstfont: 'Inter', sans-serif;

$red: #FF5959;
$white: #FFFFFF;
$green: #52DF68;
$grey: #343434;
$light-grey: #969696;
$background: #4E4D4D;
$black: #292626;
